* {
	margin:0;
	padding:0;
}

body {
		width:100%;
		background:black;
}

.wrapper {
	width:600px;
	height:500px;
	background:url("../fondo.png");
	left: 50%;
    top: 50%;
    position:absolute;
    margin-top:-250px;
    margin-left: -300px;
}

.fb {
	width: 450px;
	height:250px;
	margin:auto;
	margin-top: 120px;
}

.download {
	margin-top:40px;
	margin-left:60px;
	display:inline-block;
}